
/* Fonts */


@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);


/* Page layout */


html {
	height: 100%;
	
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}
	
body {
	background: url('../images/background.png') repeat scroll top left #F2F2F2;
	font-family: 'Arimo', sans-serif;
	min-height: 100%;
	padding: 5px;
}

body > div.page-content {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
	border: 1px solid #aeaeae;
	box-shadow: 0 0 3px #a1a1a1;	
	height: 100%;
}

div.page-content > header {
	width: 978px;
	height: 66px;
	padding-left: 22px;
	padding-right: 22px;
	margin: 0;
	background-image: url('../images/header-background.png'); 
	background-repeat: no-repeat;
	display: table;
}

#page-main {
	display: table-row;
	
	width: 978px;
}

#page-main-content {
	display: table-cell;
	
	width: 100%;
	
	padding: 15px 22px;
	
	text-align: center;
	vertical-align: middle;
}

#page-main-content > * {
	text-align: left;
}

.page-main-info-message {
	text-align: center !important;
	padding: 100px 0 !important;
}

.page-doesnt-exists {
	font-size: 16px;
}

#page-menu-panel {
	display: table-cell;
	vertical-align: middle;
}

#footer-page-menu-panel {
	display: table-cell;
	vertical-align: top;
	margin-top: 10px;
	text-align: right;
	float: right;
}
	
#page-menu {
	display: table-row;
	border: 1px solid #808080;
	background-color: rgba(255, 255, 255, 0.7);
	width: 438px;
	padding: 1px;
	float: right;
}

#page-menu * {
	margin: 0;
	padding: 0;
}

#page-menu > div {
	display: table-cell;
	float: left;
}

#page-menu a {
	display: block;
	color: #b37000;
	padding-top: 1px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
}

#footer-page-menu {
	display: table-row;
}

#footer-page-menu > div {
	display: table-cell;
}

#footer-page-menu a {
	display: block;
	font-size: 12px;
	color: #6d767a;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

#page-menu a.selected {
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #d7b469;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 0;
}

#page-menu a:hover {
	background-color: rgba(255, 255, 255, 0.9);
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 1px;
}

#page-menu a.selected:hover {
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #d7b469;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 0;
	margin: 0;
}

#page-logo-panel {
	display: table-cell;
	vertical-align: middle;
}

#footer-page-logo-panel {
	display: table-cell;
	vertical-align: top;
	margin-top: 10px;
	float: left;
}

#main-content-section {
	width: 70%;
	float: left;
}

#project-download-section {
	padding-left: 22px;
	padding-top: 22px;
	width: 30%;
	float: right;
	display: table;
}

#project-download-panel ul {
	float: left;
	list-style: none;
	height: 36px;

	padding: 0;

	background:  #f0f0f0;
	background:  -moz-linear-gradient(top, #f7f8f7 0%, #f0f0f0 100%);
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f8f7), color-stop(100%,#f0f0f0));
	background:  -webkit-linear-gradient(top, #f7f8f7 0%,#f0f0f0 100%);
	background:  -o-linear-gradient(top, #f7f8f7 0%,#f0f0f0 100%);
	background:  -ms-linear-gradient(top, #f7f8f7 0%,#f0f0f0 100%);
	background:  linear-gradient(top, #f7f8f7 0%,#f0f0f0 100%);

	border-radius: 5px;
	border: 1px solid #d2d2d2;
	box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
	width: 242px;
}

#project-download-panel li:hover {
	background:  #eee;
	background:  -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
	background:  -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background:  -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background:  -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background:  linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
}

#project-download-panel li:first-child:hover {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#project-download-panel li:last-child:hover {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#project-download-panel li:first-child {
	border-right: 1px solid #d2d2d2;
}

#project-download-panel li {
	width: 120px;
	float: left;
	height: 35px;
}

#project-download-panel ul a {
	line-height: 1;
	font-size: 10px;
	color: #999;
	display: block;
	text-align: center;
	padding-top: 6px;
	height: 35px;
}

#project-download-panel ul a {
	text-decoration: none;
}

#project-download-panel li:hover * {
	color: #b37000 !important;
}

#project-download-panel strong {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	color: #222;
}

#project-maintenance-info {
	margin-top: 50px;
}

#project-maintenance-info > p {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	width: 978px;
	height: 79px;
	padding-left: 22px;
	padding-right: 22px;
	margin: 0;
	background-image: url('../images/footer-background.png'); 
	background-repeat: no-repeat;
	display: table;
}

#apidocs {
	width: 100%;
}


/* Content */


h1 {
	font-size: 18px;
	font-weight: normal;
	color: #b37000;
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

h1, h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
	text-align: justify;
}

p, ul, ol {
	margin-top: 10px;
	margin-bottom: 10px;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background:  #f7f8f7;  
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x:  auto;
}

.work-in-progress {
	background-color:  #ffff8d;
}


/* Download table */


.download-set {
	margin-left: 22px;
}

.download-set > tbody > tr:not(:last-child) {
	border-bottom: 1px #ddd dotted;
}

.download-set > tbody > tr > td:nth-child(1) {
	width: 250px;
}

.download-set > tbody > tr > td:nth-child(2) {
	width: 250px;
}

.download-set > tbody > tr > td:nth-child(3) {
	width: 100px;
}

.download-set > tbody > tr > td {
	padding: 5px;
}

.download-set > tbody > tr > td:nth-child(3) > a {
	margin-left: 20px;
}

.download-set .dependency > td:first-child {
	padding-left: 22px;
}

.download-set .dependency > td {
	font-size: 12px;
}

.download-set .dependency-info {
	font-size: 10px;
}


/* jQuery UI overrides */


.ui-dialog-title {
	font-size: 13px !important;
}

.ui-dialog-titlebar {
	background-image: url('../images/header-background.png') !important;
	background-size: 100% !important;
}

.ui-dialog-titlebar > button {
	border: none !important;
}


/* Bootstrap overrides */


