
/* Fonts */


@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);


/* Page layout */


html {
	height: 100%;
	
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}
	
body {
	background: url('../images/background.png') repeat scroll top left #F2F2F2;
	font-size: 14px;
	font-family: 'Arimo', sans-serif;
	min-height: 100%;
	padding: 5px;
}

body > div.page-content {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
	border: 1px solid #aeaeae;
	box-shadow: 0 0 3px #a1a1a1;	
	height: 100%;
}

div.page-content > header {
	width: 978px;
	height: 66px;
	padding-left: 22px;
	padding-right: 22px;
	margin: 0;
	background-image: url('../images/header-background.png'); 
	background-repeat: no-repeat;
	display: table;
}

#page-main {
	display: table-row;
	
	width: 978px;
}

#page-main-content {
	display: table-cell;
	
	width: 100%;
	
	padding: 15px 22px;
	
	text-align: center;
	vertical-align: middle;
}

#page-main-content > * {
	text-align: left;
}

#page-menu-panel {
	display: table-cell;
	vertical-align: middle;
}
	
#page-menu {
	display: table-row;
	border: 1px solid #808080;
	background-color: rgba(255, 255, 255, 0.7);
	width: 438px;
	padding: 1px;
	float: right;
}

html.old-ie #page-menu {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff); 
}
	
#page-menu * {
	margin: 0;
	padding: 0;
}

#page-menu > div {
	display: table-cell;
	float: left;
}

#page-menu a {
	display: block;
	color: #b37000;
	padding-top: 1px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
}

#page-menu a.selected {
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #d7b469;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 0;
}

#page-menu a:hover,
#page-menu a.selected:hover {
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 0;
}

#page-menu a:hover {
	background-color: rgba(255, 255, 255, 0.9);
	padding-bottom: 0;
	margin: 1px;
}

#page-menu a.selected:hover {
	border: 1px solid #d7b469;
	margin: 0;
}

#page-logo-panel {
	display: table-cell;
	vertical-align: middle;
}

#page-main-content > section:nth-child(1) {
	width: 75%;
	float: left;
}

#page-main-content > section:nth-child(2) {
	padding-left: 22px;
	padding-top: 22px;
	width: 25%;
	float: right;
	display: table;
}

#project-maintenance-info > p {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	width: 978px;
	height: 79px;
	padding-left: 22px;
	padding-right: 22px;
	margin: 0;
	background-image: url('../images/footer-background.png'); 
	background-repeat: no-repeat;
	display: table;
}

#footer-page-menu {
	display: table-row;
}

#footer-page-menu-panel {
	display: table-cell;
	vertical-align: top;
	margin-top: 10px;
	text-align: right;
	float: right;
}

#footer-page-menu > div {
	display: table-cell;
}

#footer-page-menu a {
	display: block;
	font-size: 12px;
	color: #6d767a;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

#footer-page-logo-panel {
	display: table-cell;
	vertical-align: top;
	margin-top: 10px;
	float: left;
}

#scroll-to-top {
	display: block;
	position: fixed;
	bottom: 5px;
	right: 20px;
	opacity: 0.8;
}


/* Special pages */


.page-main-info-message {
	text-align: center !important;
	padding: 100px 30px !important;
}

.page-doesnt-exists {
	font-size: 16px;
}


/* Table of contents */


html.old-ie section.table-of-contents {
	display: none;
}

section.table-of-contents {
	padding: 15px 5px 5px 5px !important;
}

section.table-of-contents > div.table-of-contents {
	width: 200px !important;
}

body.pin-table-of-contents section.table-of-contents > div.table-of-contents {
	position: fixed;
	top: 15px;
}

section.table-of-contents > div {
	background-color: #fafafa;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}

section.table-of-contents > div > h1 {
	font-size: 14px;
	font-weight: normal;
	
	margin-top: 2px;
}

section.table-of-contents > div > ul {
	list-style-type: square;
	font-size: 13px;
	
	margin-left: 20px;
	padding-left: 0;
}

section.table-of-contents > div > ul > li > ul {
	list-style-type: square;
	padding-left: 25px;
}

section.table-of-contents > div > ul > li > ul > li {
	font-size: 12px;
}

section.table-of-contents > div > ul > li:not(:last-child) {
	padding-bottom: 3px;
}

section.table-of-contents > div > ul > li > ul {
	margin: 2px 0 0 0;
}

section.table-of-contents > div > ul > li > ul > li:not(:last-child) {
	padding-bottom: 2px;
}

section.table-of-contents li.selected {
	color: #ff0000;
}

section.table-of-contents > div > ul,
section.table-of-contents li.selected li {	/* sub list items of selected item */
	color: #ddd;
}

/*
section.table-of-contents > div > ul > li > ul {
	display: none;
}

section.table-of-contents > div > ul > li.selected-first-level > ul {
	display: block;
}
*/


/* Content */


h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: normal;
}

h3 {
	font-size: 14px;
	font-weight: normal;
}

h1, h2 {
	border-bottom: 1px dotted #aaa;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	
	color: #b37000;
}

p {
	text-align: justify;
}

p, ul, ol {
	margin-top: 10px;
	margin-bottom: 10px;
}

code, pre {
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
	color: #000;
	font-size: 12px;
}

pre {
	background-color: #fff;
}

iframe {
	width: 100%;
}

.syntaxhighlighter, pre {
  padding: 8px 15px;
  margin-left: 15px;
  border: 1px dashed #ccc;
}


li > .syntaxhighlighter, li > pre {
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

section > img {
	margin-left: 20px;
}

.work-in-progress {
	background-color:  #ffff8d;
}


/* jQuery UI overrides */


.ui-dialog-title {
	font-size: 13px !important;
}

.ui-dialog-titlebar {
	background-image: url('../images/header-background.png') !important;
	background-size: 100% !important;
}

.ui-dialog-titlebar > button {
	border: none !important;
}


/* Responsive */


@media (max-width: 1000px) {
	#page-main-content > section:nth-child(2)	{
		display: none;
	}
	
	body > div.page-content,
	div.page-content > header,
	#page-main,
	#page-main-content > section:nth-child(1),
	div.page-content > footer {
		width: 100%;
	}
}

@media (max-width: 800px) {
	
	body  {
		width: 780px;
	}
}
