#user-manual-table-of-contents {
	padding: 57px 5px 5px 5px !important;
}

body.pin-table-of-contents #user-manual-table-of-contents > div.table-of-contents {
	position: fixed;
	top: 15px;
}

#user-manual-table-of-contents > div {
	background-color: #fafafa;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}

#user-manual-table-of-contents > div > h1 {
	font-size: 14px;
	font-weight: normal;
	
	margin-top: 2px;
}

#user-manual-table-of-contents > div > ul {
	list-style: none;
	padding-left: 0;
}
